* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    position: relative;
    font-family: Poppins, sans-serif;
}

body {
    background-image: linear-gradient(to right, #c62b37, #b21420, #c84b7f);
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .logo {
        color: white;
        font-size: 30px;
    }

    nav {
        margin-top: 10px;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                a {
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    padding: 10px;
                    text-align: center; /* Centraliza o texto */
                }
                a:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .lado1,
    .lado2 {
        width: 90%; /* Adapta a largura para mobile */
        max-width: 700px;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px 0;
    }

    .lado1 {
        .Segurar {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    width: 100%;
                    height: 50px;
                    border: 1px solid rgba(0, 0, 0, 0.253);
                    padding: 10px;
                }

                .Duvida {
                    height: 180px;
                }
            }

            .btn {
                button {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.25);
                    background-color: purple;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                }
                button:hover {
                    color: black;
                    background-color: rgba(255, 192, 203, 0.549);
                    border: 3px solid rgba(0, 0, 0, 0.25);
                    transition: 0.5s all;
                }
            }
        }
    }

    .lado2 {
        border-radius: 100%;
        box-shadow: 1px 1px 100px 10px rgb(255, 99, 94);
    }
}

@media (min-width: 768px) {
    .container-header {
        flex-direction: row;
        justify-content: space-between;

        .logo {
            font-size: 45px;
        }

        nav {
            ul {
                flex-direction: row;
                gap: 50px;
            }
        }
    }

    .container-main {
        flex-direction: row;

        .lado1,
        .lado2 {
            max-width: 850px;
            margin: 0;
        }
    }
}

@media (min-width: 1024px) {
    .container-main {
        .lado1 {
            width: 50%;
        }
        .lado2 {
            width: 50%;
        }
    }
}

footer {
    padding: 20px;
    background-color: black;
    color: white;

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icons {
            display: flex;
            justify-content: center;
            gap: 30px;

            .circlu {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .circlu:hover {
                transition: 0.5s all;
                scale: 85%;
            }
        }

        .direitos {
            text-align: center;
            p {
                color: rgba(173, 173, 173, 0.5);
            }
        }
    }
}
